body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #DCE0E4;
}

.container {
    width: 750px;
    margin: auto;
    padding: 10px;
}

.title h1 {
    text-transform: capitalize;
    text-align: center;
}

.head {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.head .image {
    width: 57%;
}

.head .image img {
    width: 100%;
}

.head .detail {
    width: 40%;
}

.head .detail .detail-item {
    margin-bottom: 20px;
}

.detail .detail-item h3, .detail .detail-item h5 {
    margin: 0;
    margin-bottom: 5px;
}

.detail .detail-item div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.detail .detail-item div img {
    width: 25px;
    height: 25px;
    margin-right: 11px;
}

.detail .detail-item-2 h3 {
    margin: 0;
    padding: 0;
}

.tag {
    display: flex;
    flex-wrap: wrap;
}

.tag-tech {
    display: flex;
    flex-direction: row;
    margin: 5px 3px;
    width: 48%;
    align-items: center;
}

.tag-tech h4 {
    margin: 0;
    padding: 0;
}

.tag-tech img {
    width: 25px;
    height: 25px;
    margin-right: 11px;
}

.content p {
    text-align: justify;
}