.container {
    width: 390px;
    margin: auto;
}

.container h1 {
    text-align: center;
    margin-top: 90px;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

form div label {
    font-size: 20px;
    margin-bottom: 5px;
}

form div input {
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 4px -5px #333;
}

form div select {
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 5px 4px -5px #333;
}

form div select option {
    font-size: 20px;
}

form div select option:nth-child(1) {
    display: none;
}

form div textarea {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    font-size: 20px;
    height: 80px;
    box-shadow: 0 5px 4px -5px #333;
}

form .submit {
    float: right;
    width: 107px;
}

form .submit button {
    font-size: 20px;
    width: 100%;
    padding: 7px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}